<p id="notice"><%= notice %></p>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal" style = "color: #02285E" >Give Back With JetBlue</h1>
    <p class="lead font-weight-normal" style = "color: #02285E">Fly with us to your next volunteering opportunity.</p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div id="destination1" class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2  class="display-4">North America</h2>
      <p class="lead">Dazzle overlooking breathtaking landscapes, while helping those in need.</p>
       <div class=" mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
   
  </div>
  <div id="destination2" class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-4">South America</h2>
      <p class="lead">Take delight exploring its vast territory of huge peaks and old civilizations, getting to know how you can leave your mark.</p>
    </div>
    <div class="mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div id="destination3" class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-4">Central America and Caribbean</h2>
      <p class="lead">Enjoy delicious weather and kindhearted people, just like you!</p>
    </div>
    <div class="mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>

  <div id="destination4" class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-4">Asia</h2>
      <p class="lead">Learn about its rich culture visiting iconic destinations while giving back to the world.</p>
    </div>
    <div class="mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div id="destination5" class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-4">Europe</h2>
      <p class="lead">Indulge in its world's famous gastronomy and make an impact in someone's life.</p>
    </div>
    <div class="mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>

  <div id="destination6" class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-4">Oceania</h2>
      <p class="lead">Discover the oldest known civilizacion and how you can change the lives of many.</p>
    </div>
    <div class="mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div id="destination7" class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-4">Antarctica</h2>
      <p class="lead">Demonstrate you are a true adventure traveler with a warm heart.</p>
    </div>
    <div class="mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>

  <div id="destination8"class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-4">Africa</h2>
      <p class="lead">Enjoy wildlife like never before and give a much needed hand.</p>
    </div>
    <div class="mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>

<!-- <table>
  <thead>
    <tr>
      <th>User</th>
      <th>Location</th>
      <th>Price</th>
      <th>Category</th>
      <th>Title</th>
      <th>Description</th>
      <th>Reward</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.user_id %></td>
        <td><%= trip.location %></td>
        <td><%= trip.price %></td>
        <td><%= trip.category %></td>
        <td><%= trip.title %></td>
        <td><%= trip.description %></td>
        <td><%= trip.reward %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <div class="btn btn-outline-secondary btn-lg center-block">
    <%= link_to 'New Trip', new_trip_path, :class => "btn" %></div>
  </div>
</div>
