<br><br>
<div class="container" style="width: 80%">
  <div class="jumbotron">
    <h1 class="display-4"><%= @trip.title %></h1>
    <hr>
    <img src="<%= @trip.image %>" class="avatarimg">
    <br>
    <h3>Category</h3>
    <p class="lead"><%= @trip.category %></p>
    <br>
    <h3>Location</h3>
    <p class="lead"><%= @trip.location %></p>
    <h3>Description</h3>
    <ul>
      <% @trip.description.each do |des| %>
        <li class="lead"><%= des %></li>
      <% end %>
    </ul>
    <br>
    <h3>Price</h3>
    <p class="lead"><%= @trip.price %></p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Choose this trip and fly with Jetblue</a>
    </p>
  </div>
</div>

