<!-- 
<p id="notice"><%= notice %></p>

<div class="jumbotron">
    <div class="container">
      <h1 class="display-3"></h1>
      <p>This is the landing page for each country. Under here there will be all the different trips in this country.<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">
        <%= @trip.title %> in <%= @trip.location %> 
      </h1>
      <h4 class="text-center"><%= @trip.description %></h4>
      <h5 class="text-center">Category: <%= @trip.category %></h5>
    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
      <h5>Prices Starting at $<%= @trip.price %></h5>
      </div>
    <div class="col-md-6">
      <h5>Jet Blue Bonus Rewards: <%= @trip.reward %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
    <a href="" class="btn btn-primary">Book Your Trip</a>
    </div>
  </div>
</div>
 -->


 <br><br>
<div class="container" style="width: 80%">
  <div class="jumbotron">
    <h1 class="display-4"><%= @trip.title %></h1>
    <hr>
    <img src="<%= @trip.image %>" class="avatarimg">
    <br>
    <h3>Category</h3>
    <p class="lead"><%= @trip.category %></p>
    <br>
    <h3>Location</h3>
    <p class="lead"><%= @trip.location %></p>
    <h3>Description</h3>
    <ul>
      <% @trip.description.each do |des| %>
        <li class="lead"><%= des %></li>
      <% end %>
    </ul>
    <br>
    <h3>Price</h3>
    <p class="lead"><%= @trip.price %></p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Choose this trip and fly with Jetblue</a>
    </p>
  </div>
</div>